.image
	margin-right 20px
	max-width 150px

h2
	margin-bottom 0px

h5
	margin-top 0px
	margin-bottom 20px

a
	text-decoration none
	color #000

#description
	font-size large
	line-height 120%

ul
	list-style-type none


[class^="icon-"]
	margin-top 12px
	margin-right 5px
	float right


#volumelist
	margin-left 0px

.volumetop
	width 100%
	background #000000
	a
		color white


.volumelink
	display inline-block
	width 80%
	padding 10px 0px 10px 10px
	margin-right 10px
	white-space nowrap
	text-overflow ellipsis
	overflow hidden



.chapterlink
	display inline-block
	width 80%
	padding 10px 0px 10px 10px


.chapterlist
	li:nth-child(even)
		background #DDDDDD
